.firebaserc
.DS_Store
_site
.sass-cache
build
.firebaserc
.*swp
node_modules
.jekyll-metadata

# Dart ignores.
.packages
.pub/
pubspec.lock
packages
example/*.dart

.idea/
_diagrams/animations/AnimatedBuilder-WidgetTree.graffle
_diagrams/animations/flying-transitions.graffle
_diagrams/animations/flying-transitions.graffle
